body {
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-div {
  display: flex;
  background-color: #1665fe;
  border-radius: 20px;
  height: 250px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #1665fe;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
}

a:hover {
  color: #FF0000;
  text-decoration: underline;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Dark mode */
body.dark-mode {
  background-color: #1b1b1b;
  color: #f5f5f5;
}

.header.dark-mode {
  background-color: #1b1b1b;
  color: #f5f5f5;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.1);
}

.card.dark-mode {
  background-color: #2b2b2b;
  color: #f5f5f5;
  border-color: #3f3f3f;
}

.card:hover.dark-mode {
  background-color: #3f3f3f;
  border-color: #3f3f3f;
  color: #f5f5f5;
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.2);
}

.card-img-top.dark-mode {
  border-radius: 5px;
}

.card-body.dark-mode {
  background-color: #2b2b2b;
}

.card-title.dark-mode {
  color: #f5f5f5;
}

.card-text.dark-mode {
  color: #f5f5f5;
}

.btn-primary.dark-mode {
  background-color: #1665fe;
  border-color: #1665fe;
}

.btn-primary.dark-mode:hover {
  background-color: #0d47a1;
  border-color: #0d47a1;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #333;
  color: #fff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.card-body {
  padding: 10px;
}

.card-title {
  margin: 0;
}

.card-text {
  margin: 5px 0;
}

.btn-primary {
  margin-top: 10px;
}
@keyframes blink {
  from, to { color: black; }
  50% { color: white; }
}
.subtitle {
  animation: blink 2s infinite;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 1% 40%;
  padding: 20px;
  background-color: rgba(240, 240, 255, 0.734);
  border-radius: 7%;
  background-color: #333;
  color: #fff;
}

.add-form > button {
  margin-top: 20px;
  background-color: #1665fe;
  color: #fff;
}